/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Common */

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem; /* =14px */
}

h1 {
  font-size: 2.4rem; /* =24px */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#hero-section {
  height: 100vh;
  background-image: url('https://s29.postimg.org/vho8xb2pj/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-family: 'Montserrat', sans-serif;
  color: #09383E;
}

.content__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-content: center;
  justify-items: center;
}

.header {
  padding: 4.5rem 0;
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
  padding-left: 50px;
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0C383E;
  display: block;
}

.menu-icon__line:before, .menu-icon__line:after {
  content: '';
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0C383E;
  display: inline-block;
  position: relative;
}

.menu-icon__line:before {
  left: 0.5rem;
  top: -0.6rem;
}

.menu-icon__line:after {
  top: -1.8rem;
}

.social-container {
  display: flex;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-right: 50px;
}

.social-container .social__icon {
  cursor: pointer;
  font-size: 1.7rem;
  padding-right: 20px;
}

.social-container .social__icon:last-child {
  padding-right: 0px;
}

.social-container .social__icon i {
  color: #09383E;
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg);
  position: relative;
  letter-spacing: 0.2rem;
  display: flex;
  justify-self: start;
  padding-top: 183px;
  top: 10.5rem;
}

.ellipses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.ellipses-container .greeting {
  position: absolute;
  top: 11.6rem;
  left: 13rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 2.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.ellipses-container h2 {
  margin: 0 auto;
  letter-spacing: 0.2rem;
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.5;
  text-align: center;
  align-self: center;
  line-height: 40px;
}

.ellipses-container .element {
  font-weight: 400;
}

.ellipses-container .greeting:after {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}
.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}
.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}
.ellipses__outer--thin:after {
  content: "";
  background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}
.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #09383E transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}
.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383E;
  top: 5rem;
  right: 6.75rem;
}
.ellipses__orbit:before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.scroller {
  position: relative;
  justify-self: end;
  top: 10.5rem;
  padding-right: 50px;
  align-self: center;
}
.scroller .page-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5rem;
  display: inline-block;
  float: left;
  margin-top: 1rem;
}
.scroller .timeline {
  width: 1.5rem;
  height: 9rem;
  display: inline-block;
  float: right;
}
.scroller .timeline .timeline__unit {
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: #0C383E;
  margin: 0 0 2rem;
  opacity: 0.2;
}
.scroller .timeline .timeline__unit.timeline__unit--active {
  opacity: 1;
}
.scroller .timeline .timeline__unit.timeline__unit--active:after {
  opacity: 0.2;
}
.scroller .timeline .timeline__unit:after {
  content: '';
  width: 70%;
  height: 0.1rem;
  display: block;
  position: relative;
  float: right;
  background-color: #0C383E;
  top: 1rem;
}
@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
